<% if @book.errors.present? %>
  <%= @book.errors.full_messages %>
<% end %>

<%= form_for @book do |form| %>
  <table>
    <tr>
      <td>
        <%= form.label :title %>
      </td>
      <td>
        <%= form.text_field :title %>
      </td>
    </tr>
    <tr>
      <td>
        <%= form.label :body %>
      </td>
      <td>
        <%= form.text_area :body %>
      </td>
    </tr>
    <tr>
      <td>
        <%= form.label :author %>
      </td>
      <td>
        <%= form.select :author_id, options_for_select(Author.all.map{ |a|[a.full_name, a.id] })%>
      </td>
    </tr>
<tr>

      <td>
        <%= form.label :categories %>
      </td><table>
  <tr>
    <th>Roman</th>
        <td>
           <%= check_box("tag", tag.id, {checked: false}) %> 
           
        </td>    
        
    <th>Nuvela</th>
        <td>
           <%= check_box("tag", tag.id, {checked: false}) %> 
           
        </td>    
        
    <th>Economic</th>
        <td>
           <%= check_box("tag", tag.id, {checked: false}) %> 
           
        </td>    
        
    <th>Povestiri</th>
        <td>
           <%= check_box("tag", tag.id, {checked: false}) %> 
           
        </td>    
        
    </tr>



 <% @book.categories.each do |box| %>
    <% if box.active? %>
      <%= form.categories :form, box do |check| %>
        Name: <%= check.text_field :name %>
      <% end %>
    <% end %>
  <% end %>





  </table>
  <%= form.submit %>
  <%= link_to 'Cancel', books_url, method: :get %>
<% end %>


