<% if @book.errors.present? %>
  <%= @book.errors.full_messages %>
<% end %>

<%= form_for @book do |form| %>
  <table>
    <tr>
      <td>
        <%= form.label :title %>
      </td>
      <td>
        <%= form.text_field :title %>
      </td>
    </tr>
    <tr>
      <td>
        <%= form.label :body %>
      </td>
      <td>
        <%= form.text_area :body %>
      </td>
    </tr>


 

    <tr>
      <td>
        <%= form.label :author %>
      </td>
      <td>
        <%= form.select :author_id, options_for_select(Author.all.map{ |a|[a.full_name, a.id] })%>
      </td>
    </tr>
<tr>

      <td>
        <%= form.label :categories %>
      </td><table>
<tr>

   <% categs = Category.all %>
    <% categs.each do |categ| %>
      <%= form.label (categ.title || 'Default categ title') %>  
      <%= form.check_box :category_ids, { multiple: true }, categ.id, nil %>
    <% end %>
    
</tr>

  </table>
  <%= form.submit %>
  <%= link_to 'Cancel', books_url, method: :get %>
<% end %>


