<h2>New category</h2>
<% if @category.errors.present? %>
  <%= @category.errors.full_messages %>
<% end %>
<%= form_for @category do |form| %>
  <table>
    <tr>
      <td>
        <%= form.label :Category %>
      </td>
      <td>
        <%= form.text_field :title %>
      </td>
    </tr>
  </table>
  <%= form.submit %>
  <%= link_to 'Cancel', books_url, method: :get %>

<% end %>